/* home.scss */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  z-index: 2000;
}
header {
  width: 100%; 
 }
 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.home-container {
  height: 2800px;
  text-align: center;
  position: relative;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 18px;
}
.img-info {
  position: relative;
  margin-top: 20px;
}
.img-block{
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-left: 10% ;
  margin-top: -800px;
}
.img-block-hover{
  width: 67%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-left: 30% ;
  margin-top: -800px;
  transition: transform 0.3s ease-in-out;
}
.img-info img {
  
  width: 350px;
  height: 600px;
  object-fit: cover;
  border-radius: 15px;
}
.img-info-hover img{
  width: 300px;
  height: 600px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.img-info-hover:hover img {
  transform: scale(1.05);
}

.img-caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.img-caption-hover{
  color: white;
}



  
  
  
  .image-text {
    position: absolute;
    top: 50%; /* Позиціонуємо текст і кнопку посередині екрану */
    left: 50%;
    transform: translate(-50%, -50%); /* Це для центрування посередині */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тінь тексту для кращої видимості */
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  .image-container,
  .image-mountains-home {
    position: relative;
    margin-top: -50px;
  }
  
  img {
    width: 100%;
    height: 1000px;
  }
  
  
  .image-mountains-home::before  {
    content: '';
    position: absolute;
    top: 0; /* Змінено з bottom на top для блюру зверху */
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
    filter: blur(0.1px);
  }
  
  
  .image-container::after,
  .image-mountains-home::after,
  .forestImg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    filter: blur(0.1px);
  }
  .textInfoBlock{
    width: 150px;
  }
  .textH2{
    position: absolute;
    margin-top: -50%;
    margin-left: 40px;
    color: white;
  }
  .textP{
    width: 200px;
    color: white;
    margin-top: -45%;
    margin-left: 30px;
    position: absolute;
  }
 